/* basic layout */

/* typography */
html {
    font-size: 20px;
}
@media only screen and (max-width:500px) {
    html,body {
        font-size: 16px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

hr {
    margin: 1rem 0;
}

/* header */
header {
    margin-bottom: 2rem;
}

header div#title {
    display: grid;
    grid-template-columns: 80fr 20fr;
    grid-template-rows: 1rem 1rem;
    grid-template-areas: "title title"
                         "tagline pageid";
}

header h1, header h1 a {
    grid-area: title;
    line-height: 1rem;
    font-size: 1.5rem;
    color: __text_header__;
    text-decoration: none;
}

header span.tagline {
    grid-area: tagline;
    color: __text_sub__;
    font-size: 1rem;
}

header div#title div.pageId {
    grid-area: pageid;
    text-align: right;
    color: __text_sub__;
}
header div#title div.pageId span {
    background-color: lightcyan;
}

header div#tools {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 70fr 15fr 15fr;
    /*grid-template-columns: 1fr;*/
    grid-template-areas: "search sitemenu usermenu";
    /*grid-template-areas: "search";*/
}

@media only screen and (max-width:780px) {
    header div#tools {
        grid-template-columns: 50fr 50fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "search search" "sitemenu usermenu";
    }
}
header div#searchtools {
    grid-area: search;
    padding-right: 1rem;
}
@media only screen and (max-width:780px) {
    header div#searchtools {
        padding-right: 0;
    }
}
header div#sitemenu {
    grid-area: sitemenu;
}
header div#usermenu {
    grid-area: usermenu;
    text-align: right;
}

header svg {
    width: 1rem;
    fill: __text_header__;
}

header div#sitemenu ul li,
header div#usermenu ul li {
    list-style: none;
    display: inline-block;
    margin-top: 0.25rem;
}
header div#sitemenu ul li {
    margin-right: 0.75rem;
}
header div#usermenu ul li {
    margin-left: 0.75rem;
}

header div#sitemenu ul li span,
header div#usermenu ul li span {
    display: none;
}

header div#searchtools form input {
    border: none;
    border-bottom: 1px solid __border__;
    width: 100%;
    font-size: 1rem;
}
header div#searchtools form div#qsearch__out {
    display: inline-block;
    width: calc(780px * 0.3);
    border: 1px solid #ddd;
    margin-left: 0.5rem;
    padding: 0.5rem;
    font-size: 0.75rem;
}
@media only screen and (max-width:780px) {
    header div#searchtools form div#qsearch__out {
        display: block;
        width: ~"calc(100vw - 2rem)"; /* limited dokuwiki less parser; see https://forum.dokuwiki.org/d/12331-bug-css-width-calc-100-350px-not-working */
        margin-left: 0;
        font-size: 0.8rem;
    }
}
header div#searchtools form button {
    display: none;
}
header .plugin_translation ul{
    list-style: none;
    display: inline-block;
}
header .plugin_translation ul li{
    display: inline-block;
    margin-right: 0.25rem;
}

/* TOC */
div#dw__toc {
    font-size: 0.8rem;
    width: 50%;
    border-top: 1px solid __border__;
    border-bottom: 1px solid __border__;
    margin: 1rem 0 1rem 0;
}
@media only screen and (max-width:780px) {
    div#dw__toc {
        width: 100%;
    }
}
div#dw__toc h3 {
    margin: 0;
}
div#dw__toc h3 span {
    margin-right: 0.5rem;
}
div#dw__toc > div {
    padding-bottom: 0.5rem;
}
div#dw__toc ul {
    margin-left: 0;
}

/* main */
main h1:first-child {
    font-size: 3rem;
    text-decoration: underline;
    text-underline-offset: 0.1rem;
    line-height: 1;
    margin: 0 0 1rem 0;
}

main div.docInfo {
    color: __text_sub__;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

main div.footnotes > .fn > div {
    display: inline
}

main li {
    margin-left: 1.5rem;
}

main table {
    line-height: 1.7;
    font-size: 0.8rem;
}
main table td {
    padding: 0 0.5rem;
}
main table.pagelist tr {
    border-top: 1px solid __text_sub__;
    border-bottom: 1px solid __text_sub__;
}

main blockquote {
    padding-left: 1rem;
    border-left: 0.25rem solid __text_sub__;
    margin: 1rem 0;
}
main svg {
    width: 1rem;
}

main a.wikilink2 {
    color: __text_sub__;
}

main pre {
    white-space: pre-wrap;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.64rem;
    background-color: #eee;
}
main code {
    background-color: #eee;
}

/* For Bereaucracy plugin */
form.bureaucracy__plugin fieldset {
    padding: 1rem;
}
form.bureaucracy__plugin label {
    display: block;
    text-align: right;
}
form.bureaucracy__plugin label input.edit[type=text],
form.bureaucracy__plugin label input.edit[type=password],
form.bureaucracy__plugin label select {
    width: 50%;
    margin-left: 1rem;
}
form.bureaucracy__plugin label input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    margin-right: ~"calc(50% - 1rem)";
    margin-left: 1rem;
}
form.bureaucracy__plugin label.textareafield span{
    float: left;
}
form.bureaucracy__plugin label.textareafield textarea {
    width: 100%;
}
form.bureaucracy__plugin button {
    margin-top: 1rem;
}

@media only screen and (max-width:780px) {
    form.bureaucracy__plugin label {
        margin-top: 0.5rem;
        width: 100%;
    }
    form.bureaucracy__plugin label span {
        float: left;
    }
    form.bureaucracy__plugin label input.edit[type=text],
    form.bureaucracy__plugin label input.edit[type=password],
    form.bureaucracy__plugin label select {
        width: 100%;
        margin-left: 0;
    }
    form.bureaucracy__plugin label input[type=checkbox] {
        margin-right: 0;
    }
}
/* For backlink footer */
h5#backlinks + div.level5 > div#plugin__backlinks {
    color: __text_sub__;
}
/* edit Form */
div.editBox textarea,
div.editBox fieldset {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
}
div.editBox button {
    padding: 0.25rem;
}
div.editBox select {
    margin-left: 0.5rem;
}

/* search result */
dl.search_results dt {
    margin-top: 1rem;
}

/* footer */
footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
footer div#tools {
    display:grid;
    grid-template-columns: 50fr 50fr;
    grid-template-areas: "userinfo pagemenu";
}
@media only screen and (max-width:780px) {
    footer div#tools {
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "userinfo userinfo" "pagemenu pagemenu";
    }
}

footer div#userinfo {
    grid-area: userinfo;
    font-size: 0.8rem;
    color: __text_footer__;
}

footer div#pagemenu {
    grid-area: pagemenu;
    text-align: right;
}
@media only screen and (max-width:780px) {
    footer div#pagemenu {
        text-align: left;
    }
}

footer svg {
    width: 1rem;
    fill: __text_footer__;
}

footer div#pagemenu ul li {
    list-style: none;
    display: inline-block;
    margin-top: 0.25rem;
    margin-left: 0.75rem;
}

@media only screen and (max-width:780px) {
    footer div#pagemenu ul li {
        margin-left: 0;
        margin-right: 0.75rem;
    }    
}

footer div#pagemenu ul li span {
    display: none;
}
